name: Create Release Zip

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Create zip file
        run: |
          zip -r ha-jellyfin.zip custom_components/ha-jellyfin/ -x "*.pyc" -x "__pycache__/*" -x "*.pyc"
      
      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: ha-jellyfin.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
